:root {

  --coa-blue-dark: #004987;
  --coa-blue-med: #4077a5;
  --coa-blue-light: #a6bfd4;

  --coa-green-dark: #aaad00,;
  --coa-green-med: #bfc240,;
  --coa-green-light: #e1e2a6;

  --coa-black: rgba(0,0,0,.93);  

  --coa-platinum: #E6E8E6;
}

#root {
  padding-bottom: 5rem;
}

html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {  
  html {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.1rem;
  }
}

.header-image {
  display: none;
}

@media (min-width: 768px) {
  .header-image {
    display: inline-block;
  }
}

.lane {
  border: 1px solid var(--coa-black); 
  border-radius: 4px;
}

.lane > h2 {
  background-color: var(--coa-blue-dark);
  color: var(--coa-platinum);
}

.lighter {
  font-weight: 300;  
}

.coa-underline {
  border-bottom: 1px solid var(--coa-blue-dark);
}

.card-header {
  position: relative;
  padding-right: 56px;
  padding-left: 1.75rem;
  text-align: left;
  border: 1px solid var(--coa-blue-light);
}

.coa-bg-header {
  background-color: var(--coa-platinum);
}

header.coa-bg-header {
  border-bottom: 2px solid var(--coa-black);
}

button.coa-bg-header:hover {
  background-color: var(--coa-blue-light);
}

.card-header h4 {
  margin: .5rem 0;
  font-size: 1.1rem;
  font-weight: 300;
  min-height: 50px;
}

.hide-me {
  display: none;
}

.expand-collapse {
  width: 40px;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: rgba(0,0,0,.55);
  text-align: center;
}

.priority-text {
  width: 75px;
  /* height works with left padding of the card-header */
  /* text is rotated, so this height is how wide the priority banner will appear */
  height: 1.25rem;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgba(0,0,0,.75);
  text-align: center;
  transform: rotate(-90deg);
  transform-origin: 0.5rem 0.5rem;
  /* want the text to appear above the background color */
  z-index: 3;
}

.priority-icon-bg {
  width: 1.25rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  /* want the background color to appear between "default" layer and the foreground text */
  z-index: 2;
}

.priority-icon i {
  margin-top: 1.25rem;
}

.expand-collapse i {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

.btn-secondary {
  margin: 2px;
  background-color: var(--coa-blue-light);
}
.btn-primary {
  margin: 2px;
  background-color: var(--coa-blue-dark);
}
.view-by {
  margin-top: 10px;
  margin-left: 10px;
}