.App {
  text-align: left;
}

.lane-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
}

.lane {
  margin-top: 10px;
  margin-left: 3px;
}

.button {
  margin: 0;
  border: 1px;
  border-color: grey;
  background-color: light-grey;
  display: block;
  width: 100%;
}

.card {
  margin: 2px;
  text-align: left;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0px;
  min-height: 3em;
  background-color: light-grey;
  word-wrap: break-word;
}

.stack-flex-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  border: 1px solid black;
  margin: 2px;
}
.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

